body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(34, 34, 34);
}

.appbody {
  background: radial-gradient(#c7dfff, #4d86d1);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3),
    inset 10px 10px 10px 0px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 28px;
  padding: 10px 0 0 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  font-weight: bold;
}

h2 {
  padding: 0 0 10px 0;
  text-transform: capitalize;
  font-size: 16px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: normal;
  opacity: 0.75;
}

.search-field {
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
  padding: 0 30px 0 5px;
}

.search-button {
  color: rgb(34, 34, 34);
  background: #c7dfff;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
  margin-left: 5px;
}

#current-loc {
  color: rgb(34, 34, 34);
  background: #c7dfff;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
  margin-left: 5px;
}

.date,
.time {
  font-size: 16px;
  font-weight: normal;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.75;
}

.current {
  margin-bottom: 20px;
}

.logo-rain {
  font-size: 110px;
}

.current-temp {
  font-size: 26px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.temp-unit {
  font-size: 16px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  vertical-align: top;
}

.celsius,
.fahrenheit {
  color: rgb(34, 34, 34);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.75;
}

.celsius:hover,
.fahrenheit:hover {
  text-decoration: none;
  color: rgb(34, 34, 34);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.current-attributes {
  font-size: 16px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.75;
}

.forecast {
  font-size: 14px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.forecast-day {
  font-weight: bold;
}

.first,
.second,
.third,
.fourth,
.fifth {
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25),
    inset 3px 3px 3px 0px rgba(255, 255, 255, 0.25);
  margin: 5px;
  padding: 5px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  opacity: 0.5;
}
